.pio
.qtc_clangd
.idea
.ideabackup
.venv
lib
include
service
Makefile
platformio.cflags
platformio.config
platformio.creator
platformio.cxxflags
platformio.files
platformio.includes
platformio.ini
pyproject.toml
uv.lock
deepseek.txt
test_output.log
*.toml
*.toml
platformio.includes
