# === PlatformIO ===
.pio
platformio.cflags
platformio.config
platformio.creator
platformio.cxxflags
platformio.files
platformio.includes
platformio.ini

# === IDEs ===
.idea
.ideabackup
.qtc_clangd
.vscode/

# === Python ===
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.venv/
venv/
env/

# === Dependencias / Lock files ===
uv.lock
pyproject.toml

# === Docs / misc ===
doc
deepseek.txt
test_output.log

# === Bases de datos locales ===
*.db
*.sqlite
*.sqlite3

# === Logs ===
*.log
src/station/fot.log
src/station/iot.log

# === Sistema ===
.DS_Store
Thumbs.db